@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";  /* Импорт Tailwind v4 */

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500
}

/* Определяем кастомные стили в @theme */
@theme {
  /* Кастомные цвета */
  --color-gray-20: #F8F4EB;
  --color-gray-50: #EFE6E6;
  --color-gray-100: #DFCCCC;
  --color-gray-500: #5E0000;
  --color-primary-100: #FFE1E0;
  --color-primary-300: #FFA6A3;
  --color-primary-500: #FF6B66;
  --color-secondary-400: #FFCD5B;
  --color-secondary-500: #FFC132;

  /* Кастомные фоновые изображения */
  --background-image-gradient-yellowred: linear-gradient(90deg, #FF616A 0%, #FFC837 100%);
  --background-image-mobile-home: url('/assets/HomePageGraphic.png');
  --background-image-evolvetext: url('/assets/EvolveText.png');
  --background-image-abstractwaves: url('/assets/AbstractWaves.png');
  --background-image-sparkles: url('/assets/Sparkles.png');
  --background-image-circles: url('/assets/Circles.png');

  /* Кастомные шрифты */
  --font-dmsans: 'DM Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* Кастомные breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1060px;
}

/* Если нужны кастомные утилиты */
@layer utilities {
  /* Например, для использования кастомных цветов как утилит */
  .bg-gradient-yellowred {
    background-image: var(--background-image-gradient-yellowred);
  }
  .bg-mobile-home {
    background-image: var(--background-image-mobile-home);
  }
  .bg-evolvetext {
    background-image: var(--background-image-evolvetext);
  }
  .bg-abstractwaves {
    background-image: var(--background-image-abstractwaves);
  }
  .bg-sparkles {
    background-image: var(--background-image-sparkles);
  }
  .bg-circles {
    background-image: var(--background-image-circles);
  }
}

/* Если нужны кастомные компоненты */
@layer components {
  .custom-text {
    @apply font-dmsans text-primary-500; /* Пример использования кастомного шрифта и цвета */
  }
}